@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;600;700;800&display=swap");
/* 粉圓體 CDN */
@import url("https://fonts.googleapis.com/css2?family=Huninn&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @font-face {
    /* 柔黑體 粗 */
    font-family: "GenJyuuGothic-Bold";
    src: url("../font/GenJyuuGothic-Bold.woff") format("woff"),
      url("../font/GenJyuuGothic-Bold.ttf") format("truetype");
  }

  body {
    @apply font-Huninn font-normal text-slate-800 tracking-normal overflow-x-hidden;
  }

  .container {
    @apply mx-auto py-5 py-10 max-w-5xl relative px-4 lg:px-0;
  }

  .content-p {
    @apply text-[19px] xs:text-[20px] sm:text-[24px] lg:text-[26px] leading-relaxed sm:leading-loose font-genjyuu-bold;
  }
  .content-h4 {
    @apply text-[23px] xs:text-[28px] sm:text-[36px] leading-normal text-center font-genjyuu-bold text-blue-700 mt-10;
  }

  .content-xs {
    @apply text-[18px] xs:text-[19px] text-slate-600;
  }

  .content-sm {
    @apply text-[19px] xs:text-[21px] text-slate-600;
  }
  sup {
    @apply align-super text-[12px];
  }
}
